@import '../themes/colors';

$default-width: 100%;
$default-border-radius: 16px;

.card {
  width: $default-width;
  border-radius: $default-border-radius;
  border: none;
}

.card-dark {
  @extend .card;
  background-color: $bgCard1;
}

.card-light {
  @extend .card;
  background-color: $bgCard2;
}
