@import '../themes/media-queries';

.page-wrapper {
  width: 100%;

  @include media-widths(upToSmall) {
    max-width: 800px;
  }

  @include media-widths(upToExtraSmall) {
    max-width: 500px;
  }
}
