.row {
  display: flex;
  justify-content: flex-start;
}

.row-end {
  @extend .row;
  justify-content: flex-end;
}

.row-center {
  @extend .row;
  justify-content: center;
  align-items: center;
}

.row-align-center {
  align-items: center;
}

.row-between {
  @extend .row;
  justify-content: space-between;
  align-items: center;
}

.row-around {
  @extend .row;
  justify-content: space-around;
}
