$bg0: linear-gradient(
  204deg,
  rgba(39, 88, 122, 1) 0%,
  rgba(10, 59, 93, 1) 100%
);
$bg1: #1b1d20;
$bg2: #102c54;
$bg3: #094293;
$bg4: #0f5787;
$bg5: #226a9a;

$bgOverlay: #00000080;

$bgCard0: #1b1d20;
$bgCard1: #003153;

$primary1: #51d1f6;

$text1: #fff;
$text2: #000;

$link1: #3498db;

$border1: #121d2e;

// Shadows
$shadow1: #2f80ed;
