@import '@styles/components/page';
@import '@styles/themes/colors';
@import '@styles/themes/text';

@keyframes fade-in {
  from {
    filter: blur(20px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}

.animation-fade-in {
  animation: fade-in 1s ease-out;
}

.wrapper {
  display: grid;
  place-items: center;
  gap: 1rem;
  margin-top: 8%;
}

.page-title,
.styled-image {
  @extend .text-title;
  transition:
    opacity 1s ease-out,
    filter 1s ease-out;
  opacity: 1;
  filter: blur(0);
}
