@import '../../styles/themes/colors';
@import '../../styles/themes/text';
@import '../../styles/components/page';

.fadeIn {
  @keyframes fadeIn {
    from {
      filter: blur(20px);
      opacity: 0;
    }
    to {
      filter: blur(0);
      opacity: 1;
    }
  }
}

.wrapper {
  display: grid;
  place-items: center;
  gap: 1rem;
  margin-top: 8%;
}

.page-title {
  @extend .text-title;
  text-align: center;
  transition:
    opacity 1s ease-out,
    filter 1s ease-out;
  opacity: var(--isLoaded);
  filter: var(--isLoadedBlur);
  animation: var(--isLoadedFadeIn) 1s ease-out;
}

.styledImage {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transition:
    opacity 1s ease-out,
    filter 1s ease-out;
  opacity: var(--isLoaded);
  filter: var(--isLoadedBlur);
  animation: var(--isLoadedFadeIn) 1s ease-out;
}
