@import '@styles/components/link';
@import '@styles/themes/colors';
@import '@styles/themes/text';

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-title {
  @extend .text-title;
  text-align: center;
}
